{% extends 'base.html' %}
{% load static %}
{% block title %}
    About page
{% endblock %}

{% block content %}




  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container position-relative">
        <h1>About us</h1>
        <p>We are a talented team of developers creating websites with bootstrap</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">About page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>More about section</h2>
        <p>Choose us and get to work with La crème de la crème</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>Choose Flexi Frame.</p>
      </div>

    </section>

  </main>

{% endblock %}